<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-srict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="author" content="Christian Hill"/>
<meta name="keywords" content="HITRAN, absorption cross section, atmosphere, spectroscopy, database, search"/>
<meta name="description" content="HITRAN additional data"/>
<meta name="robots" content="all"/>

<title>HITRAN additional data</title>
<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen"/>

</head>
<body>

<h1>HITRAN additional data</h1>

<div id="content">

<ul>
<li><a href="/static/additional/ref-table.pdf"><tt>ref-table.pdf</tt></a> - NB a customized bibliography for the line-by-line data returned by a search can be requested with the query.</li>
<li><a href="/static/additional/molparam.txt"><tt>molparam.txt</tt></a> - metadata relating to the isotopologues in the line-by-line part of the database.</li>
<li><a href="/static/additional/Line-Coupling.tar.bz2"><tt>Line-Coupling.tar.bz2</tt></a> - line coupling data and software for CO<sub>2</sub> Q-branches.</li>
</ul>

</div> <!-- content -->

</body>
</html>
