<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-srict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="author" content="Christian Hill"/>
<meta name="keywords" content="HITRAN, HITRANonline, line-by-line, absorption cross section, atmosphere, molecular spectroscopy, database, search"/>
<meta name="description" content="HITRANonline index page"/>
<meta name="robots" content="all"/>

<title>HITRANonline: search index</title>
<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen"/>

</head>
<body>

<h1>HITRANonline</h1>

<div id="content">

<p>The High-Resolution Transmission Molecular Absorption Database (HITRAN) is a compilation of spectroscopic parameters that a variety of computer codes use to predict and simulate the transmission and emission of light in the atmosphere. It is hosted and developed at the Atomic and Molecular Physics Division of the Harvard-Smithsonian Center for Astrophysics under the direction of <a href="https://www.cfa.harvard.edu/~lrothman/">Dr Laurence S. Rothman</a>.</p>
<p>This site provides an online interface for querying the HITRAN database:</p>
<ul>
<li><a href="lbl/">Line-by-line search</a></li>
<li><a href="xsc/ir">IR cross section search</a></li>
<li><a href="xsc/uv">UV cross section search</a></li>
<li><span style="color: gray;">Aerosol refractive indices</span></a></li>
<li><a href="cia/">Collision-induced absorption cross section search</a></li>
<li><a href="additional">Additional data</a></li>
</ul>

<p>More information about this service and HITRAN:</p>
<ul>
<li><a href="news/">News and updates</a></li>
<li>The HITRAN <a href="http://www.cfa.harvard.edu/hitran/">homepage</a></li>
<li>Contact the HITRANonline site administrator, Christian Hill: <a href="http://www.ucl.ac.uk/~ucapch0/">www</a> | <a href="mailto:christian.hill@ucl.ac.uk">email</a></li>
</ul>

</div> <!-- content -->

</body>
</html>
