<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-srict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="author" content="Christian Hill"/>
<meta name="keywords" content="HITRAN, HITRANonline, line-by-line, absorption cross section, atmosphere, molecular spectroscopy, database, search"/>
<meta name="description" content="HITRANonline news and updates page"/>
<meta name="robots" content="all"/>

<title>HITRANonline: news and updates</title>
<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen"/>

</head>
<body>

<h1>HITRANonline: news</h1>

<div id="content">

<h3>10 December 2012</h3>
<p>Welcome to HITRANonline, an online web-based service for querying the HITRAN database. The current status of the database components offered by this service is as follows:</p>
<ul>
<li>Line-by-line data: HITRAN2008, including updates to February 2012.</li>
<li>IR cross sections: HITRAN2008, without updates.</li>
<li>UV cross sections: no data at present.</li>
<li>Aerosol refractive indices: no data at present.</li>
<li>Collision-induced absorption cross sections: as released in September 2011.</li>
</ul>

<hr/>

<p><a href="/HITRAN">back</a> to the HITRANonline index page</p>

</div> <!-- content -->

</body>
</html>

