<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-srict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="author" content="Christian Hill"/>
<meta name="keywords" content="HITRAN, line-by-line, transitions, database, search"/>
<meta name="description" content="HITRAN line-by-line search"/>
<meta name="robots" content="all"/>

<title>HITRAN line-by-line search</title>
<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen"/>

<script type="text/javascript">

/* tick or untick all molecules' checkboxes and toggle the button label
   accordingly */
function select_all_molecules()
{
	oSelectButton = document.SearchForm.select_all;
    oElements = document.SearchForm.elements["molecule"];
	if (oSelectButton.value == "Select All") {
		for (var i in oElements) {
            if (oElements[i].name == 'molecule') {
                oCheckBox = oElements[i];
                if (oCheckBox) {
                    oCheckBox.checked = true;
                }
            }
		}
		oSelectButton.value = "Select None";
	} else {
		for (var i in oElements) {
			if (oElements[i].name == 'molecule') {
                oCheckBox = oElements[i];
                if (oCheckBox) {
                    oCheckBox.checked = false;
                }
            }
		}
		oSelectButton.value = "Select All";
	}
}

/* tick all of the first seven molecules' checkboxes */
function select_first_seven()
{
	oSelectButton = document.SearchForm.select_seven;
    oElements = document.SearchForm.elements["molecule"];
    var iMolec = 0;
    for (var i in oElements) {
        if (oElements[i].name == 'molecule') {
            oCheckBox = oElements[i];
            if (oCheckBox) {
                oCheckBox.checked = true;
            }
            iMolec += 1;
        }
        if (iMolec == 7) {
            break;
        }
    }
}

/* when the requested wavenumber/wavelength search units are changed,
   this function gets called to change the HTML to reflect the new maximum
   and minimum wavelength/wavenumber labels and units */
function change_units()
{
    
    oNuMinUnits = document.SearchForm.elements["numin_units"];
    oNuMaxUnits = document.getElementById("numax_units");
    oNuMinLabel = document.getElementById("numin_label");
    oNuMaxLabel = document.getElementById("numax_label");
    units = oNuMinUnits.value;

    freq = false;
    freq_units_array = ['cm-1', 'MHz', 'GHz'];
    for (var i=0; i<freq_units_array.length; i++) {
        freq_units = freq_units_array[i];
        if (units == freq_units) {
            freq = true;
            break;
        }
    }
    if (freq) {
        oNuMinLabel.innerHTML = '<em>&nu;</em><sub>min</sub>';
        oNuMaxLabel.innerHTML = '<em>&nu;</em><sub>max</sub>';
    } else {
        oNuMinLabel.innerHTML = '<em>&lambda;</em><sub>min</sub>';
        oNuMaxLabel.innerHTML = '<em>&lambda;</em><sub>max</sub>';
    }

    if (units == 'cm-1') {
        units = 'cm<sup>-1</sup>';
    } else if (units == 'A') {
        units = '&Aring;';
    } else if (units == 'um') {
        units = '&mu;m';
    }
    oNuMaxUnits.innerHTML = units;
}

/* this function is called when a new output collection is selected from
   the drop-down box output_collection */
function change_output_collection()
{
    collectionID = document.SearchForm.elements["output_collection"].value;
    update_output_formats(collectionID);
}

/* update the div containing a list of the output fields for the selected
   output collection; this function is also called on page load */
function update_output_formats(collectionID) {
    output_fields = document.getElementById("output_fields");
    field_list_html = output_fields_html[collectionID];
    output_fields.innerHTML = field_list_html;
}

/* fill the 'Valid on' date box with today's date. This function is called
   on page load */
function fill_current_date()
{
    date_box = document.getElementById("date");
    var today = new Date();
    // God, JavaScript is awful:
    date_box.value = today.getFullYear() + '-' + (today.getMonth()+1)
            + '-' + today.getDate();
}

/* pre-load the field list HTML because we can't access it dynamically
   once the page is loaded */
var output_fields_html = new Array();
function load_output_fields_html()
{
    {% for output_collection in output_collections %}
        field_html = '<table>'
        {% for output_field in output_collection.output_field.all %}
            field_html += '<tr class="{% cycle 're' 'ro' %}"><td>{{ output_field.name_html|safe }}</td><td class="desc"> {{ output_field.desc_html|safe }}</td></tr>'
        {% endfor %}
        field_html += '</table>'
        output_fields_html.push(field_html)
    {% endfor %}
}

</script>

</head>
<body onload="load_output_fields_html();
              fill_current_date();
              change_output_collection();">

<h1>HITRAN line-by-line search</h1>

<form name="SearchForm" method="POST">{% csrf_token %}

<div id="content">

<div id="lblsearch_left_panel">

<!-- controls above the molecule checkboxes -->
<table>
<tr>
<td><input value="Select All" type="button" name="select_all"
           onclick='JavaScript:select_all_molecules()'/></td>
<td><input value="Select First 7" type="button" name="select_seven"
           onclick='JavaScript:select_first_seven()'/></td>
</tr>
</table>

<!-- the molecule checkboxes -->
<table>
<tr>
{% for molecule in present_molecules %}
{% if forloop.counter0|divisibleby:4 %}</tr><tr>{% endif %}
<td><input type="checkbox" name="molecule" value="{{ molecule.molecID }}"/>
&nbsp;{{ molecule.ordinary_formula_html|safe }}</td>
{% endfor %}
</tr>
</table>

<!-- search parameters such as wavelength/wavenumber interval -->
<table>
<!-- wavelength/wavenumber minimum, with units selection -->
<tr>
<td id="numin_label"><em>&nu;</em><sub>min</sub></td>
<td><input type="text" name="numin"></td>
<td><select onchange="JavaScript:change_units()" name="numin_units">
    <option value="cm-1" selected>cm-1</option>
    <option value="nm">nm</option>
    <option value="A">&Aring;</option>
    <option value="um">&mu;m</option>
    <option value="MHz">MHz</option>
    <option value="GHz">GHz</option>
</select></td>
</tr>
<!-- wavelength/wavenumber maximum -->
<tr>
<td id="numax_label"><em>&nu;</em><sub>max</sub></td>
<td><input type="text" name="numax"></td>
<td id="numax_units">cm<sup>-1</sup></td>
</tr>
<!-- line intensity -->
<tr>
<td><em>Sw</em><sub>min</sub></td>
<td><input type="text" name="Swmin"></td>
<td>cm<sup>-1</sup>/molec.cm<sup>-2</sup></td>
</tr>
<!-- valid-on date -->
<tr>
<td>Valid on</td>
<td><input type="text" name="date" id="date"/></td>
</tr>
</table>

</div> <!-- lblsearch_left_panel -->

<div id="lblsearch_right_panel">
<h2>Output Format</h2>
<!-- output collections drop-down box -->
<p>
<select onchange="JavaScript:change_output_collection()"
        name="output_collection">
{% for output_collection in output_collections %}
<option value="{{ forloop.counter0 }}">{{ output_collection.name }}</option>
{% endfor %}
</select>
</p>

<!-- output fields for the selected collection -->
<div id="output_fields">
<p>Something went wrong - there should be a list of output fields here</p>
</div>

<!--<p><input type="checkbox" name="get_states" value="yes"/>&nbsp;Retrieve states in separate file</p>-->

</div> <!-- lblsearch_right_panel -->

<!-- the 'Submit Query' button -->
<div style="clear: both; width: 200px; margin: auto;">
<br/><br/>
<input type="submit" value="Submit Query"/>
</div>

</div> <!-- content -->

</form>
</body>
</html>
