<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-srict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="author" content="Christian Hill"/>
<meta name="keywords" content="HITRAN, line-by-line, transitions, database, search"/>
<meta name="description" content="HITRAN line-by-line search"/>
<meta name="robots" content="all"/>

<title>HITRAN line-by-line search</title>
<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen"/>
</head>

<body>
<div id="content">

{{ search_summary.summary_html|safe }}
<p>{{ search_summary.ntrans }} transitions (truncated at {{ search_summary.percent_returned }}%) returned in {{ search_summary.timed_at }}.<p>

</div> <!-- content -->

</body>
</html>
